__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#########################################################################

.idea
twitterVenv
Other_Data
Reports
stop-words
M2
project_final_scripts_old
Main_Data
/Language/
/Locations/
/google_maps/
/Cities/
/Main_Data/
/new_cities/
new_cities/
/twitter-emotion-recognition-master/
/Emotions
/Project_Final_Scripts/tweets/geo_tweets/geo_tweets.csv
